
@{
    Layout = "_Layout";
}
    <div class="intro">
        <h1 class="white margin-bottom-double" data-aos="fade-down" data-aos-duration="1700">Shopping faster and smarter</h1>
        <div class="headline" data-aos="fade-up">

            <h2 data-aos="fade-left" data-aos-delay="300">Fresh and Afforable Grocery, Anywhere, Anytime.  </h2>
            <P>
                <a data-aos="fade-right"  data-aos-delay="300">GroceryPals is an online store with various finest grocices. Our goal is make your shopping more easy and convenient. Established in the beginning of 2020, our store is one of fastest growing online store in Canada. </a>
            </P>
            <div class="icon">
                <img src="/images/star.png" data-aos="fade-up"  data-aos-delay="500">
                <img src="/images/star.png" data-aos="fade-up"  data-aos-delay="300">
                <img src="/images/star.png" data-aos="fade-up">
                <img src="/images/star.png" data-aos="fade-up"  data-aos-delay="300">
                <img src="/images/star.png" data-aos="fade-up"  data-aos-delay="500">
                 
        </div>
        </div>
        
    </div>
    <div class="category">
        <h1 id="introduction"> Product of The Week</h1>
        <div class="item1" data-aos="fade-up-left">
            <div class="info">
                <h1>Organic Banana</h1>
                <a>Price: 1.2$/lbs </a>
                <br />
                <a>Category: Fruit </a>
                <br />
                <a>Origin: ON/Canada </a>
                <br />
                <a>Product No: 462879 </a>
                <br />
                <a>Express Shipping: Yes </a>
            </div>
               <hr/>
        <div class="img1">
        <img src=/images/banana.png>
            </div>
      
    </div>
    <div class="item2" data-aos="fade-up-right">
        <div class="img">
        <img src=~/images/meat.png>
            </div>
        <hr/>
        <div class="info">
            <h1>Flank Steak</h1>
            <a>Price: 1.2$/lbs </a>
            <br />
            <a>Category: Fruit </a>
            <br />
            <a>Origin: ON/Canada </a>
            <br />
            <a>Product No: 462879 </a>
            <br />
            <a>Express Shipping: Yes </a>
        </div>
    </div>
        <div class="item1" data-aos="fade-up-left">
            <div class="info">
                <h1>Vegetable Mix</h1>
                <a>Price: 1.2$/lbs </a>
                <br />
                <a>Category: Fruit </a>
                <br />
                <a>Origin: ON/Canada </a>
                <br />
                <a>Product No: 462879 </a>
                <br />
                <a>Express Shipping: Yes </a>
            </div>
               <hr/>
        <div class="img1">
        <img src=~/images/vege.png>
            </div>
      
        
    </div>
         
        <div class="item2" data-aos="fade-up-right">
        <div class="img">
        <img src=~/images/egg1.png>
            </div>
        <hr/>
        <div class="info">
            <h1>Egg Bag</h1>
            <a>Price: 1.2$/lbs </a>
            <br />
            <a>Category: Fruit </a>
            <br />
            <a>Origin: ON/Canada </a>
            <br />
            <a>Product No: 462879 </a>
            <br />
            <a>Express Shipping: Yes </a>
        </div>
    </div>
        
        <div class="item1" data-aos="fade-up-left">
            <div class="info">
                <h1>Large Lobster</h1>
                <a>Price: 1.2$/lbs </a>
                <br />
                <a>Category: Fruit </a>
                <br />
                <a>Origin: ON/Canada </a>
                <br />
                <a>Product No: 462879 </a>
                <br />
                <a>Express Shipping: Yes </a>
            </div>
               <hr/>
        <div class="img1">
        <img src=/images/seafood.png>
            </div>
      
    </div>
         
        </div>

