@model IEnumerable<AppUser>
@using Microsoft.AspNetCore.Authentication
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/body.css" rel="stylesheet" />
<div class="mx-auto w-50">
	<div class="text-center">
		<h2 style="margin-top:150px;" data-aos="fade-down">Contact Us</h2>
		<h3>Name: Grocery Pals Management Team</h3>
		<h3>Address: 941 Progress Ave, Scarborough, ON M1G 3T8</h3>
		<h3>Contact Number: 905-XXX-XXXX</h3>
		<h3>Partnership: Metro, Nofrills, Loblaws, Sobeys, Costco</h3>
	</div>
</div>
