<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/body.css" rel="stylesheet" />

<div id="allpage-thanks">
    <div id="thanks" data-aos="zoom-in-up">
        <div class="text-center" style="margin-top: 130px">

            <h1 class="display-4">Order Completed!</h1>
            <h3>Thanks for placing your order.</h3>
            <h3>We'll ship your goods as soon as possible.</h3>
      
        </div>
    </div>
</div>